/vendor/
.env
.env.backup
.env.*.php
.phpunit.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
.vscode
.DS_Store
storage/*.key
storage/clockwork/
storage/debugbar/
storage/framework/cache/
storage/framework/sessions/
storage/framework/testing/
storage/framework/views/
storage/logs/*.log
public/storage
.phpunit.result.cache
composer.lock
*.sqlite
*.sqlite-journal